<eq name="Think.session.admin" value="1">
<div title="系统管理" id="acd1" data-options="iconCls:'icon-system1'">
	<ul class="easyui-tree my-nav" data-options='
	data:[{
		"text":"用户管理",
		"iconCls":"icon-role1",
		"href":"{:U(\"User/index\")}"
	},{
		"text":"角色管理",
		"iconCls":"icon-user1",
		"href":"{:U(\"Role/index\")}"
	},{
		"text":"菜单管理",
		"iconCls":"icon-menu1",
		"href":"{:U(\"Menu/index\")}"
	},{
		"text":"功能管理",
		"iconCls":"icon-function1",
		"href":"{:U(\"Function/index\")}"
	}]'>
	</ul>
</div>
</eq>

<div title="微信助手" id="acd2" data-options="iconCls:'icon-wei1',selected:true">
	<ul class="easyui-tree my-nav" data-options='
	data:[{
		"text":"接口配置",
		"iconCls":"icon-gear1",
		"href":"{:U(\"Weixin/Api/index\")}"
	},{
		"text":"关注者列表",
		"iconCls":"icon-role1",
		"href":"{:U(\"Weixin/User/index\")}"
	},{
		"text":"自定义菜单",
		"iconCls":"icon-menu1",
		"href":"{:U(\"Weixin/Menu/index\")}"
	},{
		"text":"多客服功能",
		"iconCls":"icon-kefu1",
		"href":"{:U(\"Weixin/Service/index\")}"
	},{
		"text":"统计分析",
		"iconCls":"icon-chart1",
		"href":"{:U(\"Weixin/Count/index\")}"
	},{
		"text":"素材管理",
		"iconCls":"icon-material1",
		"href":"{:U(\"Weixin/Material\")}"
	}]'>
	</ul>
</div>

<div title="阿里助手" id="acd3" data-options="iconCls:'icon-alibaba1'">
	<ul class="easyui-tree my-nav" data-options='
	data:[{
		"text":"列表",
		"href":""
	}]'>
	</ul>
</div>

<div title="百度-LBS" id="acd4" data-options="iconCls:'icon-baidu1'">
	<ul class="easyui-tree my-nav" data-options='
	data:[{
		"text":"列表",
		"href":""
	}]'>
	</ul>
</div>

<div title="办公管理" id="" data-options="iconCls:'icon-add'">
	<ul class="easyui-tree my-nav" data-options='
	data:[{
		"text":"A"
	}]'>
	</ul>
</div>