<extend name="Index/base" />
<block name="title">用户管理</block>
<block name="north">
<div data-options="region:'north',border:false" style="height: 70px;">
    <form id="user_search_form">
        <table style="height: 100%; padding: 5px;">
            <tr>
                <td><select class="easyui-combobox" data-options="
            onChange:function(n,o){$('#user_input_name').attr('name',n);}">
                        <option value="Q_username_like">账号</option>
                        <option value="Q_nickname_like">昵称</option>
                </select></td>
                <td><input type="text" id="user_input_name" name="Q_username_like"></td>
                <td>邮箱</td>
                <td><input type="text" name="Q_email_like"></td>
                <td rowspan="2"><a href="javascript:void(0);" class="easyui-linkbutton btn1" id="user_search_btn">查询</a> <a href="javascript:void(0);" class="easyui-linkbutton btn1" onclick="$('#user_search_form').form('reset');">清空</a></td>
            </tr>
            <tr style="padding: 5px;">
                <td>创建时间</td>
                <td><input class="easyui-datetimebox" name="Q_create_time_egt" type="text"></td>
                <td style="text-align: center;">-</td>
                <td><input class="easyui-datetimebox" name="Q_create_time_elt" type="text"></td>
            </tr>
        </table>
    </form>
</div>
</block>
<block name="center">
<div data-options="region:'center',border:false">
    <table id="user_grid"></table>
</div>
</block>

<block name="js"> <Mytag:script pack="My.user" src="sys_manager/user.js" /> </block>